{% extends 'base.html' %}

{% block content %}
    <br>
    <div class="container white-text rgba-black-strong">
        <h1 class="display-4 font-weight-bold">Welcome to SimpleSocial !</h1>
        <hr style="border-color: white;">
        <h2> Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum autem qui ...</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates in quis sapiente dolore tenetur error suscipit numquam, deleniti odit. 
            Consequuntur asperiores dolorum fugit magnam doloremque quae suscipit nesciunt ipsa animi.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates in quis sapiente dolore tenetur error suscipit numquam, deleniti odit. 
            Consequuntur asperiores dolorum fugit magnam doloremque quae suscipit nesciunt ipsa animi.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates in quis sapiente dolore tenetur error suscipit numquam, deleniti odit. 
            Consequuntur asperiores dolorum fugit magnam doloremque quae suscipit nesciunt ipsa animi.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates in quis sapiente dolore tenetur error suscipit numquam, deleniti odit. 
            Consequuntur asperiores dolorum fugit magnam doloremque quae suscipit nesciunt ipsa animi.
        </p>
    </div>
    
{% endblock %}